h1 {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h3 {
    color: green;
  }
  
  .interests {
    color: red;
  }
  
  #ordered_lists {
    color: black;
  }